<h2>Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <input type="email" formControlName="email" placeholder="Email">

  <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
    <small *ngIf="loginForm.controls.email.errors?.['required']">
      Email is required
    </small>
    <small *ngIf="loginForm.controls.email.errors?.['email']">
      Invalid Email format
    </small>
  </div>
<br>

  <input type="password" formControlName="password" placeholder="Password">

  <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
    <small *ngIf="loginForm.controls.password.errors?.['required']">
      Password is required
    </small>
    <small *ngIf="loginForm.controls.password.errors?.['minlength']">
      Minimum 6 characters required
    </small>
    <small *ngIf="loginForm.controls.password.errors?.['pattern']">
      Must contain uppercase, lowercase & number
    </small>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">
    Login
  </button>

</form>

<p>
  Don't have account?
  <a routerLink="/register">Register</a>
</p>