<p>App Works!</p>

<!-- <app-home> </app-home>                         This is where the home component is being used in the app component.  
                                                  The home component will display the message "home works!" when it is rendered. -->

    <!-- This is where the registration component is being used in the app component. 
                                                  The registration component will display the message "registration works!" when it is rendered. -->
            


<nav>
    <a routerLink="/home">Home</a>   
    <br>
    <a routerLink="/registration">Registration</a> 
</nav>

<router-outlet> </router-outlet>